<app-nav-bar></app-nav-bar>

<div class="app-container">
    <mat-card *ngIf="!auth.isAuthenticated()">
        <mat-card-title>Olá, visitante.</mat-card-title>
        <mat-card-subtitle>
            Faça o <a (click)="auth.login()">Log In</a> para gerenciar sua lista de tarefas.
        </mat-card-subtitle>
    </mat-card>
</div>

<router-outlet>
    <div class="progress-dialog" [style.display]="showLoader ? 'flex': 'none'">
        <div class="progress-dialog-image">
            <mat-spinner *ngIf="showLoader" [color]="color">
            </mat-spinner>
        </div>
    </div>
</router-outlet>